.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/content/42-quem-ja-passou-por-isso/Quem_ja_passou_por_isso_1.mp4
public/content/42-quem-ja-passou-por-isso/Quem_ja_passou_por_isso_2.mp4
public/content/42-quem-ja-passou-por-isso/Quem_ja_passou_por_isso_3.mp4
